body {
  background-color: #0d1117;
}
.wrapper {
  padding: 20px;
}
.entry {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nologged-message {
  background-color: #d1495b;
  color: #c9d1d9;
  text-align: center;
}
.operations {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 5px;
  border: none;
  color: #c9d1d9;
  border-radius: 8px;
  cursor: pointer;
  background-color: gray;
}
.posts-toggle .all-posts,
.posts-toggle .my-posts {
  font-size: 20px;
  background-color: transparent;
  border: none;
}
.search input {
  padding: 5px;
  border-radius: 8px;
  margin-right: 5px;
}
.posts-toggle .my-posts {
  margin-left: 10px;
}
.button:hover {
  color: gray;
}

