.single-post .post-title:hover {
  color: #c9d1d9;
}
.post-fulltext {
  margin-bottom: 20px;
}
.post-image {
  text-align: center;
}
.post-image img {
  max-width: 100%;
  max-height: 500px;
}
.post-services-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.post-edit {
  margin-right: 10px;
}
.submit,
.button-delete,
.button-edit {
  background-color: transparent;
}
.single-post .post-likes {
  padding: 5px;
  background-color: #d1495b;
  border: none;
  color: #c9d1d9;
  border-radius: 8px;
  cursor: pointer;
}
