.user-info {
  background-color: #161b22;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  margin: 0 0 10px 10px;
  text-align: left;
  max-width: 500px;
  word-break: break-all;
}
.user-avatar img {
  width: 100px;
  height: 100px;
}
.search {
  margin-bottom: 10px;
}

