@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #c9d1d9;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #c9d1d9;
  font-weight: 600;
}

a:hover {
  color: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

textarea:focus,
input:focus {
  outline: 1px solid rebeccapurple;
}
textarea,
input {
  background-color: #161b22;
  color: #c9d1d9;
  border: none;
  font-family: "Open Sans", sans-serif;
}
select,
option {
  background-color: #0d1117;
  outline: none;
  border: none;
  color: #c9d1d9;
}
.Toastify__toast-icon {
  width: 12px;
}

.Toastify__toast {
  width: 109px;
  min-height: 28px;
  background-color: #161b22 !important;
  font-size: 15px;
  padding: 0;
  color: #c9d1d9;
}
.Toastify__toast-container--bottom-right {
  bottom: 0em;
  right: -12em;
}
td {
  padding-left: 20px;
}