.register-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  width: 300px;
  background-color: #161b22;
  padding: 20px;
  border-radius: 10px;
}

.register {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.register-form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.register-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.register-input {
  padding: 10px;
  background-color: #0d1117;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.register-button,
.login-button {
  margin-top: 10px;
  padding: 5px;
  background-color: #d1495b;
  border: none;
  color: #c9d1d9;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

.register-button:hover,
.login-button:hover {
  background-color: rgb(228, 40, 40);
}

.form-response {
  color: #c9d1d9;
  font-weight: bold;
  background-color: red;
  margin-top: 15px;
  padding: 5px;
  font-size: 25px;
  letter-spacing: 1px;
  border-radius: 8px;
  text-align: center;
}

.form-response-success {
  color: #c9d1d9;
  font-weight: bold;
  background-color: green;
  margin-top: 15px;
  padding: 5px;
  font-size: 25px;
  letter-spacing: 1px;
  border-radius: 8px;
  text-align: center;
}

.form-warn {
  background-color: red;
  font-size: 14px;
  border-radius: 20px;
  width: fit-content;
  padding: 3px 10px;
  color: #c9d1d9;
  margin: -7px 0 5px 10px;
}

.form-warn::before {
  content: "";
  position: absolute;
  bottom: 29px;
  left: 19px;
  border: 10px solid transparent;
  border-bottom: 10px solid red;
}

.form-input-wrapper {
  position: relative;
  width: 100%;
}
